* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.text__area {
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
  display: block;
  width: 700px;
  height: 300px;
  border: 2px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  resize: none;
  outline: none;

  &:focus,
  &:focus-visible,
  &:active {
    border: 2px solid #1976d2;
  }
}

.keyboard {
  margin: 0 auto;
  display: none;
  margin-top: 20px;
  width: 700px;
  height: 300px;

  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__key {
    padding: 10px;
    font-size: 12px;
    line-height: 20px;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #1976d2;
    text-align: center;
    cursor: pointer;

    &-active {
      color: white;
      background-color: #1976d2;
    }

    &-backspace,
    &-capslock,
    &-enter {
      width: 80px;
    }

    &-shift {
      width: 160px;
    }

    &-tab {
      width: 80px;
    }

    &-space {
      width: 400px;
    }
  }

  &-block {
    display: block;
  }
}

.active {
  color: white;
  background-color: #1976d2;
}